extends layout
block content
	.container.home
		.row
			.col-lg-12.copy
				div
					h2.logo
					h1 RITUNE PLAYER
					form(method="get", action="/auth/google")#login_form
						button(type="submit")#login LOGIN WITH GOOGLE
		.row
			.col-lg-12
				p Based on APOLLO - an opensource social playlist for Mopidy by ARGONAUT.
		.album_bg
		.gradient_cover


