script(type='text/x-handlebars-template', id='profile-template')
    .col-lg-9
        .row
          .avatar
            a.logout(href="/logout")
            img.profileimage(src="{{this.profile_image_lg}}")
          h1.username {{this.name}}

